.calendar-outer {
    position: relative;
}
.calendar-holder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 420px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    overflow: hidden;
}
.calendar-scroller {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
    transition: .3s;
}
.month {
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 10px;
}
.month-name {
    text-align: center;
}
.active-month {
    opacity: 1 !important;
}
.weekdays {

}
.weekdays, .days {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 410px;
}
.weekday {
    font-size: 1rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-br);
    font-weight: 1000;
}
.day {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-br);
    cursor: pointer;
    font-weight: 1000;
    position: relative;
}
.active-day {
    border: 1px solid var(--prime-bg);
}
.arrow-left, .arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: var(--default-br);
    background-color: var(--prime-bg);
    position: absolute;
    cursor: pointer;
    transition: background-color 0.25s;
}
.arrow-left:before, .arrow-right:before, .arrow-left:after, .arrow-right:after {
    background: white;
    height: 1px;
    width: 25%;
    content: "";
    position: absolute;
}
.arrow-left:before, .arrow-right:before {
    margin-top: 16%;
    transform: rotate(45deg);
}
.arrow-left:after, .arrow-right:after {
    margin-bottom: 16%;
    transform: rotate(-45deg);
}
.arrow-left {
    right: calc(100% + 25px);
    top: 50%;
    transform: translateY(-50%);
}
.arrow-right {
    left: calc(100% + 25px);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.arrow-left:hover, .arrow-right:hover {
    background: rgb(58, 0, 83);
}
.arrow-left:active, .arrow-right:active {
    background: rgb(82, 0, 120);
}
.disabled-arrow, .disabled-arrow:hover, .disabled-arrow:active {
    cursor: not-allowed;

}

.day-input {
}

.current-day {
    border: 1px solid white;
}