.second-logo-page {
    background: var(--prime-bg);

    .letter-holder {
        color: var(--prime-color);
        font-family: "LoveloLineLight", Helvetica, sans-serif;
        font-size: 400px;
        border: 10px solid var(--prime-color);
        height: 800px;
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
