@font-face {
    font-family: 'Source Sans Light';
    src: url('./assets/fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source3';
    src: url('./assets/fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source3Light';
    src: url('./assets/fonts/SourceSans3-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LoveloLineLight';
    src: url('./assets/fonts/Lovelo/lovelo_linelight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LoveloBlack';
    src: url('./assets/fonts/Lovelo/lovelo_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asFont';
    src: url('./assets/fonts/as_font/as_font_3.ttf');
}

@font-face {
    font-family: 'asFontBG';
    src: url('./assets/fonts/as_font/as_font_bg.ttf');
}

:root {
    --prime-bg: rgba(40, 1, 55, 1);
    --semi-bg: rgba(40, 1, 55, .5);
    --prime-color: cyan;
    --middle-color: rgba(66, 113, 143, 1);
    --secondary-color: white;
    --light-purple: rgb(82, 0, 120);
    --half-white: #FFFFFF80;
    --quarter-white: #FFFFFF40;
    --cloud-white: #FFFFFF20;
    --default-br: 5px;
    --card-size: 75px;
}

#root *, #root *:before, #root *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Light", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: unset;

    &:visited {
        color: unset;
    }
}

.neon-text {}

.content-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    position: relative;
    background: var(--prime-bg);
}

.basic-item {
    height: 100%;
    width: 100%;
    background: var(--prime-bg);
    border: none;
    outline: none;
    color: var(--secondary-color);
    cursor: pointer;
    transition: .3s;
    margin: 0;
    padding: 0;

    &:hover { background: rgb(58, 0, 83); }
    &:active { background: rgb(82, 0, 120); }
}

.active-item {
    &, &:hover, &:active {
        background: rgb(82, 0, 120) !important;
    }
}

.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
