@font-face {
    font-family: 'Source Sans Light';
    src: url('./assets/fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source3';
    src: url('./assets/fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source3Light';
    src: url('./assets/fonts/SourceSans3-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LoveloLineLight';
    src: url('./assets/fonts/Lovelo/lovelo_linelight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LoveloBlack';
    src: url('./assets/fonts/Lovelo/lovelo_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asFont';
    src: url('./assets/fonts/as_font/as_font_3.ttf');
}

@font-face {
    font-family: 'asFontBG';
    src: url('./assets/fonts/as_font/as_font_bg.ttf');
}

:root {
    --prime-bg: #ffffff;
    --prime-color: #000000;
    --secondary-color: #000000;
    --subtle-border: rgba(0, 0, 0, 0.15);
    --default-br: 5px;
    --card-size: 75px;
}

body.theme-dark {
    --prime-bg: #000000;
    --prime-color: #ffffff;
    --secondary-color: #ffffff;
    --subtle-border: rgba(255, 255, 255, 0.15);
}

#root *, #root *:before, #root *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Light", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: var(--secondary-color);
    background: var(--prime-bg);
}

a {
    text-decoration: none;
    color: unset;

    &:visited {
        color: unset;
    }
}

.neon-text {}

.content-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    position: relative;
    background: var(--prime-bg);
}

.basic-item {
    height: 100%;
    width: 100%;
    background: var(--prime-bg);
    border: 1px solid transparent;
    outline: none;
    color: var(--secondary-color);
    cursor: pointer;
    transition: none;
    margin: 0;
    padding: 0;

    &:hover { border-color: var(--prime-color); }
    &:active { border-color: var(--prime-color); }
}

.active-item {
    border: 1px solid var(--prime-color);
    &, &:hover, &:active {
        background: var(--prime-bg) !important;
    }
}

.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
